<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Gestion Bomberos</title>
        <meta charset="UTF-8"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"></link>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <link rel="stylesheet" 
                href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
                integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
                crossorigin="anonymous"></link>
        <link rel="stylesheet"
                href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
                integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r"
                crossorigin="anonymous"></link>
        <link rel="shortcut icon" type="image/x-icon" href="/images/logo_bomberos_ico.ico"></link>
        <!-- DataBase -->
        <script src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
        <link rel="stylesheet" type="text/css" 
              href="https://cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css"></link>
        <!-- Javascript -->
        <link rel="stylesheet"
                href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"></link>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--<script src="https://code.jquery.com/jquery-1.12.4.js"></script>-->
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
        <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    </head>
    <body style="background-color: white;">
        <header>
            <nav class="navbar navbar-inverse">
                <div style="background-color:  black;" class="container-fluid">
                    <div class="navbar-header">
                        <a style="color:white" class="navbar-brand" href="/">Gestion Bomberos</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li><a style="color:white" href="/rifas">Rifas</a></li>
                        <li class="active"><a style="color:white" href="/ventas">Ventas</a></li>
                        <li><a style="color:white" href="/cobranza">Cobranzas</a></li>
                        <li><a style="color:white" href="/reportes">Reportes</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a style="color:white" class="dropdown-toggle" data-toggle="dropdown" href="#">Admin <span class="glyphicon glyphicon-user"></span></a>
					        <ul class="dropdown-menu">
								<li><a href="/configuracion"><span class="glyphicon glyphicon-cog"></span> Configuración</a></li>
								<li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Cerrar sesión</a></li>
					        </ul>
						</li>
				    </ul>
                </div>
            </nav>
		</header>
		<img style="display: block; margin-left: auto; margin-right: auto;" alt="logo" src="/images/logo_home.jpg" width="441px" height="115px"></img>
        <div style="border-color:white;box-shadow: 0 0 0;" class="panel panel-default">
            <div class="panel-body" style="padding:0px;">
                <div class="row" style="margin: 0px;">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-3"
                         style="text-align: -webkit-center; 
                                padding: 40px; border: 2px solid; 
                                margin: 50px 20px 20px 0px;
                                border-color: black; border-radius:10px;">
                        <a href="/ventas/nueva">
                            <button type="button" 
                                    class="btn-lg"
                                    style="width: 160px;height: 55px; color:white; background-color: #cb0b0d">Nueva Venta
                            </button>
                        </a>
                    </div>
                    <div class="col-sm-3"
                         style="text-align: -webkit-center; 
                                padding: 40px; border: 2px solid; 
                                margin: 50px 20px 20px 0px;
                                border-color: black; border-radius:10px;">
                        <a href="/ventas/lista">
                            <button type="button" 
                                    class="btn-lg"
                                    style="width: 160px;height: 55px; color:white; background-color: #cb0b0d">Lista de Ventas
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <footer style="position: fixed; left: 0; bottom: 0; width: 100%; background-color: black; color: white; text-align: center; padding:15px 0px 0px 0px;">
            <div class="row">
            	<div class="col-sm-2">
            		<img style="padding-bottom: 12px;" alt="logo" src="/images/logo_home.jpg" width="220px" height="57px"></img>
            	</div>
            	<div class="col-sm-2">
            		<i style='font-size:24px' class='far'>&#xf1f9;</i>
            		<p>Copyright 2022</p>
            	</div>
            	<div class="col-sm-2">
            		<i style='font-size:24px' class='fas'>&#xf121;</i>
            		<p>Abel Alejandro Guillen</p>
            	</div>
            	<div class="col-sm-2">
            		<i class="material-icons">&#xe0be;</i>
            		<p>abel.guillen@hotmail.com</p>
            	</div>
            	<div class="col-sm-2">
            		<i style='font-size:24px' class='fab'>&#xf08c;</i>
            		<p>Síguenos en <a href="https://www.linkedin.com/in/abel-guillen-dev">LinkedIn</a></p>
            	</div>
            	<div class="col-sm-2"></div>
            </div>
<!--             <div class="row"> -->
<!--             	<img style="display: block; margin-left: auto; margin-right: auto; padding-top:10px;" alt="logo" src="/images/logo_home.jpg" width="220px" height="57px"></img> -->
<!--             </div> -->
         </footer>
    </body>
</html>